USE [master]
GO
/****** Object:  Database [student_tables]    Script Date: 11/16/2024 5:37:04 AM ******/
CREATE DATABASE [student_tables]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'user_passwords', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\user_passwords.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'user_passwords_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\user_passwords_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [student_tables].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [student_tables]
GO
/****** Object:  User [Etienne]    Script Date: 11/16/2024 5:37:04 AM ******/
CREATE USER [Etienne] FOR LOGIN [Etienne] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Etienne]
GO
/****** Object:  Table [dbo].[StudentMileageSummaryPerMonth]    Script Date: 11/16/2024 5:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentMileageSummaryPerMonth](
	[Student_ID] [int] NOT NULL,
	[ENTRY_Date] [date] NOT NULL,
	[Mileage] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC,
	[ENTRY_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mileage]    Script Date: 11/16/2024 5:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mileage](
	[Mileage_ID] [int] IDENTITY(1,1) NOT NULL,
	[Student_ID] [int] NULL,
	[ENTRY_Date] [datetime] NULL,
	[Mileage] [numeric](18, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[Mileage_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentMileageSummaryPerDay]    Script Date: 11/16/2024 5:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentMileageSummaryPerDay](
	[Student_ID] [int] NOT NULL,
	[Entry_Date] [datetime] NOT NULL,
	[Mileage] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC,
	[Entry_Date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StudentMileageSummaryTotal]    Script Date: 11/16/2024 5:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StudentMileageSummaryTotal](
	[Student_ID] [int] NOT NULL,
	[Mileage] [int] NOT NULL,
	[Rank] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Student_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[users]    Script Date: 11/16/2024 5:37:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[users](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
USE [master]
GO
